body {
  color: white;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.container {
  width: 80%;
  margin: auto;
}

.body {
  background-color: $PrimaryDark;
  border-top: 1px solid white;
  width: 100vw;
  margin: -10px;
  margin-right: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding-bottom: 0rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  button {
    width: 5rem;
    border: 2px solid $SecondaryDark;
    border-radius: 0.4rem;
    background-color: $SecondaryDark;
    color: white;
    margin: 0 auto 1rem;
  }
}

.light {
  background-color: $PrimaryLight;

  .skills,
  .projects {
    border: 5px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .skills-box {
      border: 2px solid white;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .project {
    border: 2px solid white;

    img {
      border: 2px solid white;
      top: 0;
    }
  }
}
