.name {
  display: inline;
  font-size: 3.7rem;
  color: $PrimaryColor;

  &.light {
    color: $LightPrimary;
  }
}

.header {
  font-size: 1.7rem;
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  left: 0;
  flex-direction: column;
  height: 100vh;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 0rem;
  }

  button {
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: flex;
    align-items: center;

    img {
      width: 2rem;
    }
  }
}

.intro {
  border-radius: 1rem;
  text-align: center;
  width: 50rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.light button {
    border: 2px solid $LightTheme;
  }

  button {
    border: 2px solid #0a0421;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }
  }

  h2 {
    width: 20.5rem;
    animation: typing 3s steps(27), blink step-end 1s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    margin: 0 auto 1rem auto;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

header .light {
  background-color: $LightTheme;
}
