.header {
  font-size: 1.7rem;
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  left: 0;
  flex-direction: column;
  height: 100vh;

  h1 {
    margin-bottom: 0;
    cursor: default;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 0rem;
  }

  button {
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: flex;
    align-items: center;

    img {
      width: 2rem;
    }
  }
}

.name {
  display: inline;
  font-size: 3.7rem;
  color: $SecondaryDark;

  &.light {
    color: $SecondaryLight;
  }
}

.intro {
  border-radius: 1rem;
  text-align: center;
  width: 50rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.light button {
    border: 2px solid $PrimaryLight;
  }

  button {
    border: 2px solid $PrimaryDark;
    margin: 0 auto;
    width: 6rem;
    cursor: pointer;

    img {
      margin: 0 auto;
    }
  }

  h2 {
    width: 15rem;
    animation: typing 3s steps(27), blink step-end 1s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    margin: 0 auto 1rem auto;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

header .light {
  background-color: $PrimaryLight;
}

.toggle-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $PrimaryDark;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
}

.toggle-circle .light {
  background-color: $PrimaryLight;
}

.toggle-circle .dark {
  background-color: $PrimaryDark;
}

#animation-right {
  animation-name: buttonRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#animation-left {
  animation-name: buttonLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes buttonRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40px);
  }
}
@keyframes buttonLeft {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(0px);
  }
}
